- form_for [@parent_item, @album], :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.file_field :image
  %p
    = f.submit "Submit"

= image_tag @album.image.url
