- form_for [@parent_item, @photo], :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = f.submit "Submit"
