- title "Photos"

%table
  %tr
    %th
    %th Title
  - for photo in @photos
    %tr
      %td= image_tag photo.photo.url(:thumb)
      %td= h photo.title
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_album_photo_path(photo.album_id, photo)
      %td= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete
=default_pagination :items => @photos

- if @parent_item
  %p= link_to "New Photo", new_album_photo_path(@parent_item)
