- title "Photo"

.photo
  = image_tag @photo.photo.url

%p
  = link_to "Edit", edit_album_photo_path(@photo.album, @photo)
  |
  = link_to "Destroy", @photo, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", photos_path
  |
  = link_to t("Photos") + " " + sprintf(t("for album %s"), h(@photo.album.title)), album_photos_path(@photo.album)
