- form_for @category do |f|
  = f.error_messages
  %p 
    = f.label :menu_id
    %br
    = f.select :menu_id, Category.titles.invert
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.submit "Submit"
