- title "Categories"
- i = 0
%p= link_to "New Category", new_category_path
%table
  %tr
    %th
    %th=t :Title
  - for category in @categories
    %tr
      %td= i+=1
      %td= h category.get_title
      -#%td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'New Album', new_category_album_path(category)
      %td= link_to_item_with_count 'All Albums', category_albums_path(category), category.albums.size
      %td= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete
  =render :partial => '/paginate_part', :locals => {:items => @categories, :cols => 6}
