<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'blog', 'style' %>
    <%= yield :css %>
    <%= yield(:head) %>
<script type="text/javascript">
function cssmenuhover()
{
        if(!document.getElementById("cssmenu"))
                return;
        var lis = document.getElementById("cssmenu").getElementsByTagName("LI");
        for (var i=0;i<lis.length;i++)
        {
                lis[i].onmouseover=function(){this.className+=" iehover";}
                lis[i].onmouseout=function() {this.className=this.className.replace(new RegExp(" iehover\\b"), "");}
        }
}
if (window.attachEvent)
        window.attachEvent("onload", cssmenuhover);

</script>
  </head>
<body>
<div align="center">
  <a name="top"></a>
<img src="/images/ae1.jpg" /><p>&nbsp;</p>
  <ul id="cssmenu">
        <li><a href="index.html">INFO</a>
        </li>
        <li><a href="#">CONTACTS</a>
        </li>
        <% @menu.each do |item| %>
          <li><a href="javascript:;"><%=h item[:title]%></a>
              <ul>
                <% item[:children].each do |item| %>
                  <li><a href="<%=url_for(cat_user_path(item)) %>"><%=h item.title %></a></li>
                <% end %>
              </ul>
          </li>
        <% end %>
</ul>
</div>
<p>&nbsp;</p>
<%= yield %>
<!--
<table width="55%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr class="tr">
    <td width="150"><div align="right"><img src="menu.jpg" width="100" height="100" /></div></td>
    <td><div class="map">
      <p id="p11"><a href="">Вот так вот</a>
  </div></td>
  </tr>
  <tr class="tr">
    <td><div align="right">img</div></td>
    <td><p id="p11">text</p></td>
  </tr>
  <tr class="tr">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>  
  <tr class="tr">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="10%" border="0" align="center" cellspacing="0">
  <tr>
    <td><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','3.jpg',0)"><img src="4.jpg" name="Image3" width="15" height="15" border="0" id="Image3" /></a></td>
    <td><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','6.jpg',1)"><img src="5.jpg" name="Image2" width="15" height="15" border="0" id="Image2" /></a></td>
    <td><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','2.jpg',1)"><img src="1.jpg" alt="" name="Image1" width="15" height="15" border="0" id="Image1" /></a></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
-->
</body>
</html>
