<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Астафоров Евгений") %></title>
    <%= stylesheet_link_tag 'blog', 'style', 'application' %>
    <%= yield :css %>
    <%= yield(:head) %>
<script type="text/javascript">
function cssmenuhover()
{
        if(!document.getElementById("cssmenu"))
                return;
        var lis = document.getElementById("cssmenu").getElementsByTagName("LI");
        for (var i=0;i<lis.length;i++)
        {
                lis[i].onmouseover=function(){this.className+=" iehover";}
                lis[i].onmouseout=function() {this.className=this.className.replace(new RegExp(" iehover\\b"), "");}
        }
}
if (window.attachEvent)
        window.attachEvent("onload", cssmenuhover);

</script>
  </head>
<body>
<a name="verx" id="verx"></a>
<div id="top" class="block_opacity1"></div>
<br>
<table width="65%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="/images/ae2.png" /></td>
    <td>&nbsp;</td>
    <td width="500" align="right" valign="bottom" class="block_opacity">
  <ul id="cssmenu">
        <li><a href="/">INFO</a>
        </li>
        <li><a href="#">CONTACTS</a>
        </li>
        <% @menu.each do |item| %>
          <li><a href="javascript:;"><%=h item[:title]%></a>
              <ul>
                <% item[:children].each do |item| %>
                  <li><a href="<%=url_for(cat_user_path(item)) %>"><%=h item.title %></a></li>
                <% end %>
              </ul>
          </li>
        <% end %>
</ul>
</td>
  </tr>
</table>
<p>&nbsp;</p>
<%= yield %>
<table width="75%" border="0" align="center">
  <tr>
    <td><div align="right"><img src="/images/jiz1n.png" width="427" height="55" /></div></td>
  </tr>
</table>
<div id="daun" class="block_opacity1"></div>
</body>
</html>
